1. Crear una Serie a partir de la lista de temperaturas [30, 25.5, 22, 28.3,13, 17.7, 21]

In [1]:
import pandas as pd

In [2]:
serie = pd.Series([30, 25.5, 22, 28.3,13, 17.7, 21])

serie.name = 'temperaturas'

serie

0    30.0
1    25.5
2    22.0
3    28.3
4    13.0
5    17.7
6    21.0
Name: temperaturas, dtype: float64

2. Crear la misma Serie pero a los índices de las filas darles los días de la semana: lunes, martes, miércoles, jueves, viernes, sábado, domingo.

In [3]:
serie.rename(index={0:'Lunes',1:'Martes',2:'Miércoles',3:'Jueves',4:'Viernes',5:'Sábado',6:'Domingo'}, inplace=True)

serie

Lunes        30.0
Martes       25.5
Miércoles    22.0
Jueves       28.3
Viernes      13.0
Sábado       17.7
Domingo      21.0
Name: temperaturas, dtype: float64

3. Trabajar con el CSV de titanic

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/joanby/python-ml-course/master/datasets/titanic/titanic3.csv')

df

      pclass  survived  ...   body                        home.dest
0          1         1  ...    NaN                     St Louis, MO
1          1         1  ...    NaN  Montreal, PQ / Chesterville, ON
2          1         0  ...    NaN  Montreal, PQ / Chesterville, ON
3          1         0  ...  135.0  Montreal, PQ / Chesterville, ON
4          1         0  ...    NaN  Montreal, PQ / Chesterville, ON
...      ...       ...  ...    ...                              ...
1304       3         0  ...  328.0                              NaN
1305       3         0  ...    NaN                              NaN
1306       3         0  ...  304.0                              NaN
1307       3         0  ...    NaN                              NaN
1308       3         0  ...    NaN                              NaN

[1309 rows x 14 columns]

Obtener los nombres de todas las columnas, luego iterar ese objeto e imprimir renglón a renglón lo siguiente: “Valores nulos en Survived: 10” donde 10 sea el total de valores nulos o faltantes en la columna Survived

In [5]:
columns_names = df.columns.values

columns_names

array(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch',
       'ticket', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype=object)

In [6]:
dfnull = df.isnull()

dfnull.sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

In [7]:
for i in zip(dfnull, dfnull.sum()):
  print(f'Valores nulos en {i[0]} son {i[1]}')

Valores nulos en pclass son 0
Valores nulos en survived son 0
Valores nulos en name son 0
Valores nulos en sex son 0
Valores nulos en age son 263
Valores nulos en sibsp son 0
Valores nulos en parch son 0
Valores nulos en ticket son 0
Valores nulos en fare son 1
Valores nulos en cabin son 1014
Valores nulos en embarked son 2
Valores nulos en boat son 823
Valores nulos en body son 1188
Valores nulos en home.dest son 564

Hacer un data cleaning total, chequear qué hacer con los valores faltantes de cada columna y limpiar el data frame hasta que no queden celdas vacías

In [8]:
df["age"] = df["age"].fillna(df["age"].mean())
df["age"].isnull().sum()

0

In [9]:
df["fare"] = df["fare"].fillna(method="bfill")
df["fare"].isnull().sum()

0

In [10]:
df["cabin"] = df["cabin"].fillna("Desconocido")
df["cabin"].isnull().sum()

0

In [11]:
df["embarked"].value_counts()

S    914
C    270
Q    123
Name: embarked, dtype: int64

In [13]:
df["embarked"] = df["embarked"].fillna("S")
df["embarked"].isnull().sum()

0

In [16]:
cant = len(df.index) # df.index = rango de índices
cant_nulos_body = df["body"].isnull().sum()
rep = (cant_nulos_body/cant) * 100 
rep

90.75630252100841

In [17]:
df.drop(["body"], axis=1, inplace=True)

In [18]:
df["home.dest"].value_counts()

New York, NY                             64
London                                   14
Montreal, PQ                             10
Paris, France                             9
Cornwall / Akron, OH                      9
                                         ..
Bulgaria Coon Rapids, IA                  1
Brighton, MA                              1
Berne, Switzerland / Central City, IA     1
Victoria, BC                              1
St Austall, Cornwall                      1
Name: home.dest, Length: 369, dtype: int64

In [19]:
df["home.dest"] = df["home.dest"].fillna("Desconocido")
df["home.dest"].isnull().sum()

0

In [20]:
df["boat"].value_counts()
df["boat"] = df["boat"].fillna("13")
df["boat"].isnull().sum()

0

In [21]:
df.isnull().sum()

pclass       0
survived     0
name         0
sex          0
age          0
sibsp        0
parch        0
ticket       0
fare         0
cabin        0
embarked     0
boat         0
home.dest    0
dtype: int64

Averiguar cuál fue la media de las edades e imprimir “El promedio de edades fue: <media>”

In [22]:
promedio_edad = df['age'].mean()

print(f'El promedio de edades fue {round(promedio_edad, 2)}')

El promedio de edades fue 29.88

Chequear que en todas las variables haya datos vacíos = 0, es decir, que no haya datos faltantes.

In [23]:
df.isnull().sum()

pclass       0
survived     0
name         0
sex          0
age          0
sibsp        0
parch        0
ticket       0
fare         0
cabin        0
embarked     0
boat         0
home.dest    0
dtype: int64

 Crear una tabla con la cantidad de sobrevivientes divididos por sexo

In [24]:
sobrevivientes_sexo = df.groupby('sex')[['survived']].sum()

sobrevivientes_sexo

        survived
sex
female       339
male         161

Crear una tabla con la cantidad de sobrevivientes mayores de 20

In [25]:
df_filtrado = df.query('age>20')

df_filtrado

      pclass  survived  ... boat                        home.dest
0          1         1  ...    2                     St Louis, MO
3          1         0  ...   13  Montreal, PQ / Chesterville, ON
4          1         0  ...   13  Montreal, PQ / Chesterville, ON
5          1         1  ...    3                     New York, NY
6          1         1  ...   10                       Hudson, NY
...      ...       ...  ...  ...                              ...
1303       3         0  ...   13                      Desconocido
1305       3         0  ...   13                      Desconocido
1306       3         0  ...   13                      Desconocido
1307       3         0  ...   13                      Desconocido
1308       3         0  ...   13                      Desconocido

[1061 rows x 13 columns]

In [28]:
df_edades = df[['age']]

mayores_df = df_edades.query('age>20')

mayores_df

            age
0     29.000000
3     30.000000
4     25.000000
5     48.000000
6     63.000000
...         ...
1303  29.881135
1305  29.881135
1306  26.500000
1307  27.000000
1308  29.000000

[1061 rows x 1 columns]

Crear una tabla con la cantidad de sobrevivientes mujeres mayores de 20

In [31]:
df_mujeres_mayores = df_filtrado.pivot_table(index='sex', aggfunc={'survived':sum})
df_mujeres_mayores

        survived
sex
female       264
male         122

Crear una tabla con la cantidad de hombres que había en primera clase

In [32]:
df_hombre_1class = df.query('sex==male' and 'pclass==1')

print(df_hombre_1class)

df_hombre_1class['pclass'].sum()

     pclass  survived  ... boat                        home.dest
0         1         1  ...    2                     St Louis, MO
1         1         1  ...   11  Montreal, PQ / Chesterville, ON
2         1         0  ...   13  Montreal, PQ / Chesterville, ON
3         1         0  ...   13  Montreal, PQ / Chesterville, ON
4         1         0  ...   13  Montreal, PQ / Chesterville, ON
..      ...       ...  ...  ...                              ...
318       1         0  ...   13                  London, England
319       1         1  ...    3                      Desconocido
320       1         1  ...    D                  London, England
321       1         0  ...   13                      Halifax, NS
322       1         1  ...    8    New York, NY / Washington, DC

[323 rows x 13 columns]

323

Crear una tabla con el promedio de las edades de los sobrevivientes de quienes viajaban en tercera clase

In [ ]:
df_sur_3class = df.query('survived==1' and 'pclass == 3')

prom_sur_3class = df['age'].mean()

print(f'El promedio de edades de los sobrevivientes de las 3ra clase fue {round(prom_sur_3class, 2)}')

El promedio de edades de los sobrevivientes de las 3ra clase fue 29.88

Detallar la información de estadística descriptiva del data frame y de la tabla del punto 3.6

In [33]:
estadistica = round(df.describe(),2)

estadistica

        pclass  survived      age    sibsp    parch     fare
count  1309.00   1309.00  1309.00  1309.00  1309.00  1309.00
mean      2.29      0.38    29.88     0.50     0.39    33.28
std       0.84      0.49    12.88     1.04     0.87    51.74
min       1.00      0.00     0.17     0.00     0.00     0.00
25%       2.00      0.00    22.00     0.00     0.00     7.90
50%       3.00      0.00    29.88     0.00     0.00    14.45
75%       3.00      1.00    35.00     1.00     0.00    31.28
max       3.00      1.00    80.00     8.00     9.00   512.33

In [36]:
estadistica.describe()

            pclass     survived  ...        parch         fare
count     8.000000     8.000000  ...     8.000000     8.000000
mean    165.516250   163.983750  ...   164.907500   244.997500
std     462.038019   462.656618  ...   462.293512   463.034566
min       0.840000     0.000000  ...     0.000000     0.000000
25%       1.750000     0.000000  ...     0.000000    12.812500
50%       2.645000     0.435000  ...     0.195000    32.280000
75%       3.000000     1.000000  ...     2.902500   166.887500
max    1309.000000  1309.000000  ...  1309.000000  1309.000000

[8 rows x 6 columns]